@import "../node_modules/bootstrap/scss/bootstrap";
html{
    font-size: 100%;
    font-family: Garamond;
    min-width: 220px;
}
mark{
    color: white;
    text-decoration: underline;
}
a:hover{
    cursor: pointer;
}
#logo{
    width: 10em;
}
.carousel-item img{
    width: 100%;
    max-height: 42em;
    min-height: 12em;
    min-width: 12em;
}
.icon{
    width: 2em;
    height: 2em;
    display: inline-block;
}
/* Product Card Buttons*/
.card img{
    transition: .5s ease;
}
.description{
    opacity: 0;
}
.imgContainer:hover .description
{
    opacity: 1;
}
.imgContainer:hover .productImg
{
    opacity: 0.15;
}
@media only screen and (max-width: 768px)
{
    html{
        font-size: 90%;
    }
    #logo{
        width: 7em;
    }
}